<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ischoolbar.programmer.dao.admin.DepartmentDao">
	<!-- 部门添加操作 -->
	<insert id="add" parameterType="com.ischoolbar.programmer.entity.admin.Department">		
		insert into department(deid,chineseName,englishName,peopleNum) values(null,#{chineseName},#{englishName},0)
	</insert>
	<!-- 获取所有部门信息 -->
	<select id="findAll" resultType="com.ischoolbar.programmer.entity.admin.Department">
		select * from department
	</select>
	<!-- 通过id获取部门名称 -->
	<select id="findNameById" resultType="String">
		select chineseName from department where deid = #{deid}
	</select>
	<!-- 通过名称获取部门id -->
	<select id="findIdByName" resultType="Long">
		select deid from department where chineseName = #{chineseName}
	</select>
	<!-- 通过id加部门人数 -->
	<update id="addNumById" parameterType="Long">
		update department set peopleNum=peopleNum+1 where deid = #{deid}
	</update>
	<!-- 通过id减部门人数 -->
	<update id="subNumById" parameterType="Long">
		update department set peopleNum=peopleNum-1 where deid = #{deid}
	</update>
	<!--  部门删除操作 -->
	<delete id="delete" parameterType="Long">
		delete from department where deid =${value}
	</delete>
</mapper>