<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ischoolbar.programmer.dao.admin.JobDao">
	<!-- 职称添加操作 -->
	<insert id="add" parameterType="com.ischoolbar.programmer.entity.admin.Job">		
		insert into job(jobid,chineseName,englishName,peopleNum) values(null,#{chineseName},#{englishName},0);
	</insert>
	<!-- 获取所有职称信息 -->
	<select id="findAll" resultType="com.ischoolbar.programmer.entity.admin.Job">
		select * from job
	</select>
	<!-- 通过id获取职称名称 -->
	<select id="findNameById" resultType="String">
		select chineseName from job where jobid = #{jobid}
	</select>
	<!-- 通过名称获取职称id -->
	<select id="findIdByName" resultType="Long">
		select jobid from job where chineseName = #{chineseName}
	</select>
	<!-- 通过id加职称人数 -->
	<update id="addNumById" parameterType="Long">
		update job set peopleNum=peopleNum+1 where jobid = #{jobid}
	</update>
	<!-- 通过id减职称人数 -->
	<update id="subNumById" parameterType="Long">
		update job set peopleNum=peopleNum-1 where jobid = #{jobid}
	</update>
	<!-- 职称删除操作 -->
	<delete id="delete" parameterType="Long">
		delete from job where jobid =${value}
	</delete>
</mapper>