<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ischoolbar.programmer.dao.admin.ZCorporateAppliedProjectDao">
	<!-- 插入应用项目操作 -->
	<insert id="add" parameterType="com.ischoolbar.programmer.entity.admin.CorporateAppliedProject">
		insert into 
		corporate_applied_project(corporate_applied_project_id,
				approve_year,
				department,
				teacher_name,
				project_name,
				category,
				funding,
				client) 
		values(#{id},
				#{approve_year},
				#{department},
				#{teacher_name},
				#{project_name},
				#{category},
				#{funding},
				#{client})
	</insert>
	<!-- 获取所有应用项目信息 -->
	<select id="findAll" resultType="com.ischoolbar.programmer.entity.admin.CorporateAppliedProject">
		select * from corporate_applied_project
	</select>
	<!-- id查询信息 -->
	<select id="queryById" resultType="com.ischoolbar.programmer.entity.admin.CorporateAppliedProject" parameterType="long">
		select * from corporate_applied_project where corporate_applied_project_id=#{id}
	</select>
</mapper>